<?xml version="1.0" encoding="UTF-8"?>

<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/examhibernategotremy?createDatabaseIfNotExist=true</property>
        <property name="hibernate.connection.pool_size">2</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">root</property>
        <property name="hibernate.current_session_context_class">thread</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>

		<mapping class="exam.models.Car"/>
		<mapping class="exam.models.Color"/>
		<mapping class="exam.models.Garage"/>
		<mapping class="exam.models.Images"/>
		<mapping class="exam.models.User"/>


</session-factory>
</hibernate-configuration>